#new-filter {
  .new-filter-inner {
    margin: 0px auto;
    font-family: Roboto, cursive;

    .new-filter-title {
      font-size: 40px;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: 800;
    }

    .new-filter-description {
      font-size: 20px;
      font-weight: 500;
    }

    .new-filter-controls {
      margin: 20px 0px;

      @media (min-width: 731px) {
        display: flex;
      }

      select {
        font-size: 18px;
        padding: 3px;
        width: 155px;
        margin-right: 10px;

        @media (max-width: 730px) {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }

        &.hidden-select {
          display: none;
        }
      }

      .block-radio {
        padding-top: 5px;

        @media (max-width: 730px) {
          padding-top: 0px;
          margin-bottom: 15px;
        }

        label {
          font-size: 18px;
          margin-right: 15px;

          &:hover {
            cursor: pointer;
          }
        }

        input {
          &:hover {
            cursor: pointer;
          }
        }
      }

      .btn-filtro-buscar {
        background-color: rgb(142, 38, 78);
        border-radius: 40px;
        font-size: 18px;
        color: rgb(255, 255, 255);
        font-weight: 600;
        text-transform: capitalize;
        transition: all 0.2s ease-out 0s;
        width: 100%;
        max-width: 150px;
        height: 30px;
        border: none;

        &:disabled {
          background: rgb(199, 199, 199);
        }

        &:hover {
          cursor: pointer;
        }

        @media (max-width: 730px) {
          display: block;
          width: 100%;
          margin-bottom: 10px;
          max-width: initial;
        }
      }
    }
  }
}
